<div class="kred-page" >
	<style> </style>
	
  	<div class="kred-cunico" >
		<section >

			<br><br><br>
			
			<div class="row kred-divform">
				<div class="dfheader">
	            	About
	            </div>
				<div class="dfbody" >
					
					<p>
						<b>KRED</b> is a consumer credit company which operates in the Canadian market. Our company manages large databases containing financial data from around 30 million of Canadians. This information is used by financial institutions for credit granting and monitoring, reducing fraud and credit risk. As part of our services we offer credit reports and scores, as well as analytical solutions that can be used for credit risk management.
						<br><br>
					</p>
					<p>
						The company has been operating since 2001. Their main customers are the largest Canadian banks, such as the Bank of Montreal, Bank of Nova Scotia and Canadian Imperial Bank of Commerce. The headquarters of the company are in Toronto and it has around 3500 employees (2019). The Operating income of the company is CAD $ 2.6 billion and the Net income is CAD $ 1.4 billion (2018).<br>
						<br>
					</p>
					<p>
						As a Canadian company, KRED must comply with laws and regulations relating to data privacy, such as Personal Information Protection and Electronic Documents Act and Digital privacy Act. In addition, since we store information relating credit and debit cards, we must comply with PCI standard. Also, we must comply with GDPR taking into account that some of our consumers are European citizens.
						<br>
					</p>
	            </div>
			</div>
		</section>
  		
  		
  	</div>
  	
  </div>
	