			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/">
						<img class="kred-logo" src="/s3/kred/img/KredLogo.png"/>
					</a>
            		<a class="navbar-brand" href="">
            			<span class="kred-brand">Kred</span> Financial
            		</a>
				</div>
				<div class="kred-hdlks">
					<ul class="nav navbar-nav navbar-right">
						<li><a target="_blank" href="https://money.cnn.com/data/markets/">CNN Markets</a></li>
						<li><a target="_blank" href="https://www.makeuseof.com/tag/10-financial-websites-stay-top-market/">10 Best Finance Sites</a></li>
					</ul>
				 </div>
			</div>
