<div class="kred-page" >
	<style> </style>
	
  	<div class="kred-unique" >
		<section >

			<br><br><br>
			
			<div class="row kred-divform">
				<div class="dfheader">
	            	Welcome
	            </div>
				<div class="dfbody" >
					
					<h2>This is the <b>KRED</b> online site for banking consultation</h2>
	            	 	
					
					<p>
						In this site you can
					</p> 
					<p style="text-align: left;">
					  <ul>
						  <li>Update your profile and upload documents</li>
						  <li>Check about company chash FLow</li>
						  <li>credit score consultation</li>
						  <li>tracking and analyzing financial information</li>
					  </ul>
					</p>
					<p class="hidden">
						https://www.investopedia.com/terms/b/businessexpenses.asp <br>
						https://www.credit.com/free-credit-score/<br>
						https://www.transunion.ca/credit-report?channel=paid&cid=ppc:google:dsa&gclid=EAIaIQobChMI4d-IraDQ6AIVCYizCh2gXw2ZEAAYAiAAEgJK8vD_BwE<br>
						https://corporatefinanceinstitute.com/resources/knowledge/credit/credit-risk-analysis/<br>
					</p>
	            </div>
			</div>
		</section>
  		
  		
  	</div>
  	<!-- Modal de Ayuda en: HOME -->
	<div class="modal fade" id="mdMainHelp" role="dialog" data-backdrop="static" >
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title" style="text-align:center">Ayuda</h4>
	        </div>
	        <div class="modal-body" >
			<h2>AYUDA en HOME</h2>	
	        </div>
	        <div class="modal-footer">
	        	<button type="button" class="btn" data-dismiss="modal">Cerrar</button>
	        </div>
	      </div>      
	    </div>
	  </div>
  </div>
  <script type="text/javascript">unBlockPage();</script>
	