<!-- V2.htl -->
<div  > <!-- ng-controller="profileController" -->
    <style>
	 
	</style>
 		
	<!-- ############################   CONTENIDO PRINCIPAL   ###########################  -->
	<div class="main-content" >		

		<h1>V3</h1>
		<div style="width:100%;">
			<div class="extra-list">
				<ul>
					<li> Renta de Autobuses.</li>
					<li> Boletos Top Tours (Riviera Maya).</li>
				</ul>

				<br>
				<p >
					Para mayores detalles con respecto a estos servicios, <br>comunícate con nosotros.
				</p>
			</div>
			<div style="position: relative;	width:50%; float: right; position: relative;">
				<div style="max-width:606px; max-height:424px;">
					
					<div class="item active">
			        	<img class="extra-image img-circle" src="img/vancouver.jpg">
			      	</div>
				</div>
			</div>
		</div>
		
	</div> <!-- End: Main -->
</div><!-- FIN DE PAGE -->
