<!-- V2.htl -->
<div  > <!-- ng-controller="profileController" -->
    <style>
	 
	</style>
 		
	<!-- ############################   CONTENIDO PRINCIPAL   ###########################  -->
	<div class="main-content" >		

		<div class="parag-big">
			<h1>V4</h1>

			<h3>Políticas de Reservación</h3>
			<p>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis libero sit amet consequat vestibulum. Pellentesque ultrices diam id est pharetra placerat. Cras quis metus imperdiet, lacinia mi sed, interdum eros. Cras at nunc luctus eros auctor condimentum. Fusce turpis nunc, vehicula id mauris at, lacinia venenatis felis. Integer euismod metus sem, at varius tortor fermentum non. Duis ornare pretium arcu, nec cursus augue fermentum id.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Cras venenatis tellus nec libero dapibus, malesuada lacinia <br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; quam molestie.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Nunc in ligula viverra, pellentesque arcu dictum, elementum lectus.<br>
				<hr>
				<h3>Notas Importantes:</h3>
				<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Fusce eleifend leo in lorem faucibus lobortis.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Nam congue velit metus, sit amet imperdiet lorem malesuada blandit. Donec vehicula lectus tempor, sagittis nisi ac, laoreet ex. <span class="parag-imp">Sed sed facilisis dolor. </span>Nam auctor mollis purus pharetra viverra. Donec semper sem vitae suscipit consequat. Quisque cursus, tortor quis pulvinar molestie, lorem velit vestibulum sem, sagittis rutrum urna felis non ante<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Aliquam consequat tellus a quam aliquam molestie.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; <span class="parag-imp">Nullam porta</span> est suscipit laoreet luctus.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Fusce luctus lectus id justo eleifend, non sodales est sagittis.<br>
				<hr>

				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Curabitur non eros ac turpis feugiat imperdiet eget non sem.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Nam sit amet est sit amet ante bibendum ultricies vitae a nisi.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Nullam luctus felis metus, quis aliquet sapien fermentum ac. Donec non sagittis tortor. Morbi id urna et dui mattis bibendum at in neque. Mauris posuere velit sed interdum posuere. Praesent ultricies metus eget cursus viverra. Aliquam erat volutpat. Phasellus ut urna semper, pulvinar urna ut, pretium nisi.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Phasellus aliquam mauris sit amet blandit lobortis.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Aenean a magna fermentum neque varius cursus eu id ex.<br>
								
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis libero sit amet consequat vestibulum. Pellentesque ultrices diam id est pharetra placerat. Cras quis metus imperdiet, lacinia mi sed, interdum eros. Cras at nunc luctus eros auctor condimentum. Fusce turpis nunc, vehicula id mauris at, lacinia venenatis felis.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; In fringilla risus at iaculis elementum: <a href="mailto:netto.speed@gmail.com?Subject=prueba" target="_top">netto.speed@gmail.com</a>.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Quisque eget augue eget felis cursus eleifend sed egestas risus.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Vestibulum nec velit vel ante efficitur dignissim sed a odio.<br>
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Nunc aliquet ex et nibh <span class="parag-imp">dictum</span> volutpat.
				<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp; Suspendisse maximus lectus vel libero dictum, eu maximus quam viverra.<br>

			</p>
		</div>

	</div> <!-- End: Main -->
	
	
</div><!-- FIN DE PAGE -->
