<!-- V5.htl -->
<div  > <!-- ng-controller="profileController" -->
    <style>
	 
	</style>
 		
	<!-- ############################   CONTENIDO PRINCIPAL   ###########################  -->
	<div class="main-content" >		

		<!--  *******************   SECCION LISTA PERFILES DISPONIBLES  **************	 -->
		<section id="sec-profileList">
			<form id="profileList" novalidate>
				<h2><span class="dhrIcon-th-list titleIcon"></span>&nbsp;&nbsp;V5 </h2>
			</form>
			<br>
			<div ng-show="true" ><!--class="aplicantList"-->
				<div class="panel panel-info">
					<!-- Header -->
					<div class="panel-heading">
						<h2>panel Header</h2>
					</div>
					<h2> Contenido panel</h2>
					<a href="http://ruyadorno.github.io/SimpleSlider/" target="_blank">ng-SImpleSlider</a> <br>
					<a href="http://blog.revolunet.com/angular-carousel/" target="_blank">angular-carousel</a> <br>
					<a href="http://onehungrymind.com/build-sweet-photo-slider-angularjs-animate/" target="_blank">sweet-photo-slider</a> <br>
				</div>
			</div>
		</section>
		
	</div> <!-- End: Main -->
	
</div><!-- FIN DE PAGE -->
